*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}

.wrapper{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

body{
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	background-color: #040F28;
}

/* header
=================== */
.header{
	margin-top: 56px;
	/* height: 100vh; */
}

.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #C4C4C4;
}

.nav-list{
	display: flex;
	align-items: center;
}

.nav-list__item{
	margin-right: 50px;
}

.nav-list__item:last-child{
	margin-right: 0;
}

.nav-list__link{
	color: #646464;
	transition: color .2s ease-in-out;
}

.nav-list__link:hover{
	color: #C4C4C4;
}

.nav-list__link__active{
	color: #C4C4C4;
}

.btn{
	border: none;
	background-color: transparent;
	border-radius: 87px;
	cursor: pointer;
}

.header-nav__btn{
	border: 2px solid #C4C4C4;
	padding: 16px 32px;
	color: #FFFFFF;
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	transition: all .2s ease-in;
}

.header-nav__btn:hover{
	border: 2px solid #FC3867;
	background-color: #FC3867;
}

/* intro
=================== */
.intro{
	margin-top: 60px;
}

.intro-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.intro__title{
	font-weight: 700;
	font-size: 56px;
	color: #C4C4C4;
	line-height: 74px;
}

.intro__subtitle{
	font-weight: 400;
	color: #646464;
	line-height: 32px;
	margin-top: 20px;
	margin-bottom: 40px;
	width: 480px;
}

.intro__btn{
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	line-height: 180%;
	padding: 16px 40px;
	color: #ffffff;
	background-color: #FC3867;
	transition: all .2s ease-in;
}

.intro__btn:hover{
	background-color: #FFFFFF;
	color: #FC3867;
}

/* my work 
=================== */
.info-my-work{
	background-color: #ffffff;
}

.info-my-work-content{
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-my-work__item{
	padding: 90px 0 85px 0;
	text-align: center;
}

.info__hr{
	margin: 0 85px;
	border: none;
	width: 1px;
	height: 137px;
	background-color: #D8D8D8;
}

.info-my-work__number{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 64px;
	letter-spacing: -0.5px;
	color: #070707;
}

.info-my-work__title{
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: -0.5px;
	margin-top: 16px;
	margin-bottom: 8px;
}

.info-my-work__subtitle{
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	color: #C4C4C4;
}

/* best-services
=================== */
.best-services{
	margin-top: 150px;
}

.best-services__name{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	color: #ffffff;
	text-transform: uppercase;
}

.best-services__benefits{
	margin-top: 12px;
	margin-bottom: 56px;
	display: flex;
	justify-content: space-between;
}

.best-services__title{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 40px;
	letter-spacing: -0.5px;
	line-height: 60px;
	color: #ffffff;
	width: 477px;
}

.best-services__subtitle{
	align-self: flex-end;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	line-height: 180%;
	color: #ffffff;
	width: 395px;
}

.best-services__content{
	display: flex;
	justify-content: center;
	align-items: center;
}

.best-services-content__item{
	display: flex;
}

.best-servies__hr{
	/* border: none; */
	width: 1px;
	height: 100px;
	background-color: #ffffff;
	margin: 0 74px;
}

.best-services__img{
	margin-right: 25px;
	align-self: flex-start;
}

.best-services-text__title{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 8px;
}

.best-services-text__subtitle{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color: #ffffff;
	width: 243px;
}

/* services
=================== */
.services{
	margin-top: 110px;
}

.services__title{
	font-weight: 700;
	font-size: 36px;
	color: #ffffff;
	text-align: center;
}

.services__subtitle{
	margin-top: 30px;
	font-weight: 500;
	font-size: 24px;
	color: #ffffff;
	text-align: center;
}

.services-card{
	margin-top: 72px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.services-card__item{
	background-color: #ffffff;
	display: flex;
	width: 560px;
	height: 267px;
	padding: 32px 0 0 32px;
	border-radius: 12px;
	margin-bottom: 40px;
}

.services-card-text{
	margin-left: 16px;
}

.services-card__block__img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #FC3867;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.services-card__img{
	width: 40px;
	height: 40px;
}

.services-card__title{
	font-weight: 700;
	font-size: 24px;
	color: #000000;
}

.services-card__subtitle{
	margin-top: 24px;
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	color: #272727;
	width: 362px;
}

/* work
=================== */

.work{
	margin-top: 110px;
}

.work__title{
	font-weight: 400;
	font-size: 40px;
	color: #ffffff;
	text-align: center;
	margin-bottom: 18px;
}

.work__subtitle{
	font-weight: 400;
	font-size: 14px;
	color: #999999;
	line-height: 24px;
	width: 417px;
	text-align: center;
	margin: 0 auto;
}

.work-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 56px;
}

.work-content__img{
	width: 570px;
	height: auto;
	overflow: hidden;
	cursor: pointer;
	transition: all .5s ease-in-out;
	overflow: hidden;
}

.work-content__img:hover{
	transform: scale(130%);
}

.work-content__block__img{
	overflow: hidden;
	border-radius: 12px;
	margin-bottom: 24px;
}

.subscribe{
	margin-top: 170px;
	background-color: #ffffff;
}

.subscribe-content{
	padding: 36px 0 44px 0;
}

.subscribe__subtitle{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	text-align: center;
	color: #C4C4C4;
	letter-spacing: 16%;
}

.subscribe__title{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 64px;
	color: #212226;
	text-align: center;
}

.subscribe-button{
	margin-top: 43px;
	text-align: center;
}

.subscribe-btn{
	border: 1px solid #FC3867;
	margin: 0 auto;
	padding: 16px 40px;
	background-color: #FC3867;
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	color: #ffffff;
	transition: all .2s ease-in;
}

.subscribe-btn:hover{
	background-color: #ffffff;
	color: #FC3867;
	border: 1px solid #FC3867;
}

/* footer 
=================== */
.footer{
	background-color: #000000;
}

.footer-content{
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
}

.cratrix__title{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #ffffff;
}

.cratrix__subtitle{
	font-family: 'Ubuntu';
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #C4C4C4;
	width: 318px;
	margin-top: 16px;
	margin-bottom: 24px;
}

.social__link > svg{
	fill: #C4C4C4;
	transition: all .2s ease;
}

.social__link > svg:hover{
	transform: translateY(-5px);
	fill: #FC3867;
}

.social__link{
	margin-right: 16px;
}

.social__link:last-child{
	margin-right: 0;
}

.footer-card{
	display: flex;
}

.footer-card-item{
	display: flex;
	flex-direction: column;
	margin-right: 94px;
}

.footer-card-item:last-child{
	margin-right: 0;
}

.footer__title{
	color: #ffffff;
	margin-bottom: 26px;
}

.footer__subtitle{
	color: #C4C4C4;
	font-size: 14px;
	margin-bottom: 26px;
	transition: all .2s ease;
}

.footer__subtitle:hover{
	color: #ffffff;
}

.footer__subtitle:last-child{
	margin-bottom: 0;
}

.footer__hr{
	border: none;
	width: 100%;
	height: 1px;
	background-color: #C4C4C4;
	margin: 40px 0 32px 0;
	opacity: 50%;
}

.copyright{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #C4C4C4;
	text-align: center;
	padding-bottom: 45px;
	opacity: 50%;
}




